<div class = "blockMake">
   <div><%= link_to image_tag(make.avatar.url, width: 200,height: 150),admin_make_path(make) if make.avatar? %> </div>
  <div><%= link_to make.name, admin_make_path(make) %>
    <a style="margin-left : 100px"></a>
    <%= link_to image_tag("icon/glyphicons_150_edit.png"), edit_admin_make_path(make) %></td>
    <%= link_to image_tag("icon/glyphicons_207_remove_2.png"), admin_make_path(make), method: :delete,
                data: { confirm: "You sure?" } %>
  </div>

</div>