<% content_for :second_title do%>
    Edit Make <%= @make.name %>
<%end%>
<%= render 'shared/navigate',object: @make %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin,@make]) do |f| %>
        <%= render "shared/error_make_messages" %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <label>Picture</label>
        <%= image_tag(@make.avatar.url, width: 95, height: 95) if @make.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<script>
    $(function(){

        $(".edit_member_link").addClass('active');
    })
</script>