
<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin, @make]) do |f| %>
        <%= render "shared/error_make_messages" %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <label>Picture</label>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>

        <br>
        <%= f.submit "Create makes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

