<% content_for :second_title do%>
    Show Make <%= @make.name %>
<%end%>
<%= render 'shared/navigate',object: @make %>
<div class = "picture">
  <%= image_tag(@make.avatar_url, width: 400,height: 400) if @make.avatar? %>
</div>
<dl>
  <dt class="label name_field string_type">Name</dt>
  <dd>
    <pre class="prettyprint"><%= @make.name %></pre>
  </dd>
  <dt class="label name_field string_type">Models</dt>
  <dd>
    <pre class="prettyprint">
      <% @make.models.each do |model|%>
        <%= link_to model.model_name, admin_model_path(model)%>//поправить
      <% end %>
    </pre>
  </dd>

</dl>

<script>
    $(function(){
        $(".show_member_link").addClass('active');
    })
</script>
