<tr>
    <td><%= link_to image_tag(car.attached_assets.first.asset.url(:mini), width: 60,height: 60),admin_car_path(car) unless car.attached_assets.first.nil?%></td>
    <td><%= link_to car.make.name, admin_make_path(car.make) %></td>
    <td><%= link_to car.model.model_name, admin_model_path(car.model) %> </td>
    <td><%= car.price %> $</td>
    <td><%= car.features %></td>
    <td><%= link_to image_tag("icon/glyphicons_039_notes.png"), admin_car_path(car) %>
    <%= link_to image_tag("icon/glyphicons_150_edit.png"), edit_admin_car_path(car) %>
    <%= link_to image_tag("icon/glyphicons_207_remove_2.png"), admin_car_path(car), method: :delete,
                    data: { confirm: "You sure?" } %></td>
</tr>
