 <% content_for :second_title do%>
      Edit Car <%= @car.features %>
  <%end%>
<%= render 'shared/navigate', object: @car %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for ([:admin,@car]),:html => {:multipart => true} do |f| %>
        <%= render 'shared/error_car_messages' %>

        <%= f.label :fuel_type %>
        <%= f.text_field :fuel_type %>

        <%= f.label :displacement %>
        <%= f.text_field :displacement %>

        <%= f.label :year %>
        <%= f.text_field :year %>

        <%= f.label :make_id %>
        <%= collection_select(:car, :make_id,  Make.all,  :id, :name, {:prompt   => "Select a Make"}, {:id => 'make_select'}) %>

        <%= f.label :model_id, id: :label_car_model_id%>
        <%= collection_select(:car, :model_id,  @car.make.models,  :id, :model_name, {:prompt   => "Select a Model"}) %>


        <%= f.label :price %>
        <%= f.text_field :price %>

        <%= f.label :features %>
        <%= f.text_field :features %>

        <%= f.label :pictures %>
        <% @car.attached_assets.each do |a| %>
            <%= image_tag(a.asset.url(:mini)) %>
            <p>
            <%= link_to "Удалить", admin_car_delete_asset_path(car_id: a.attachable_id, id: a.id) %>
        <% end %>
        <p>
        <%= file_field_tag('car_attached_assets_asset', multiple: true, name: "car[attached_assets_attributes][][asset]") %>
        <p>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

<script>
    $(function(){
        $(".edit_member_link").addClass('active');
    })
</script>