<% content_for(:title, 'Admin Cars')%>

<h3>List cars</h3>
<div class="left_search">
  <div class = "search">
    <%= form_tag("/search_by_price", method:  "get", remote: true) do %>
        from <%= text_field_tag :price_min%>
        to <%= text_field_tag :price_max%>
        <%= submit_tag "search", class: "btn correct"%>
    <% end %>
  </div>

  <div class="filter">
    <%= collection_select(nil, :make_id,  Make.all,  :id, :name, {:prompt   => "Select a Make"}, {:id => 'make_selects'}) %>
  </div>

</div>
<div class="right_add"><%= link_to image_tag("icon/glyphicons_432_plus.png")+" add car", new_admin_car_url, class: "btn" %></div>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Make</th>
    <th>Model</th>
    <th>price</th>
    <th>features</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="car_table">
  <%= render @cars %>
  </tbody>
</table>

