<div class="row">
  <div class="span6 offset3">
    <%= form_for ([:admin,@car]),:html => {:multipart => true} do |f| %>
        <%= render 'shared/error_car_messages' %>

        <%= f.label :fuel_type %>
        <%= f.text_field :fuel_type %>

        <%= f.label :displacement %>
        <%= f.text_field :displacement %>

        <%= f.label :year %>
        <%= f.text_field :year %>

        <%= f.label :make_id %>
         <%= collection_select(:car, :make_id,  Make.all,  :id, :name, {:prompt   => "Select a Make"}, {:id => 'make_select'}) %>

        <%= f.label :model_id, id: :label_car_model_id%>
        <%= collection_select(:car, :model_id,  [],  :id, :model_name, {:prompt   => "Select a Model"}) %>

        <%= f.label :price %>
        <%= f.text_field :price %>

        <%= f.label :features %>
        <%= f.text_field :features %>

        <%= file_field_tag('car_attached_assets_asset', multiple: true, name: "car[attached_assets_attributes][][asset]") %>

        <%= f.submit "Create car", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<script>
    $('#car_model_id').hide();
    $('#label_car_model_id').hide();
</script>


