  <% content_for :second_title do%>
      Details for Car <%= @car.features %>
  <%end%>

<%= render 'shared/navigate', object: @car %>
    <h4>
      Basic info
    </h4>

<div class = "picture">

  <div class="slider">
    <% i = 0 %>
    <% @car.attached_assets.each do |a| %>
        <input type="radio" name="slide_switch" id="id<%= i %>" <%=  "checked = checked" if i==0 %>/>
        <label for="id<%= i %>">
          <%= image_tag(a.asset.url(:normal),width: 100) %>
        </label>
        <%= image_tag(a.asset.url(:normal)) %>
        <% i=i+1 %>
    <% end %>
  </div>
</div>
<dl>
  <dt class="label name_field string_type">Make</dt>
  <dd>
    <pre class="prettyprint"><%=link_to @car.make.name, admin_make_path(@car.make)%></pre>
  </dd>

  <dt class="label name_field string_type">Model</dt>
  <dd>
    <pre class="prettyprint"><%=link_to @car.model.model_name, admin_model_path(@car.model)%></pre>
  </dd>

  <dt class="label name_field string_type">fuel type</dt>
  <dd>
    <pre class="prettyprint"><%=@car.fuel_type %></pre>
  </dd>

  <dt class="label name_field string_type">displacement</dt>
  <dd>
    <pre class="prettyprint"><%=@car.displacement %></pre>
  </dd>

  <dt class="label name_field string_type">year</dt>
  <dd>
    <pre class="prettyprint"><%=@car.year %></pre>
  </dd>

  <dt class="label name_field string_type">features</dt>
  <dd>
    <pre class="prettyprint"><%=@car.features %></pre>
  </dd>

  <dt class="label name_field string_type">price</dt>
  <dd>
    <pre class="prettyprint text-success"><%=@car.price %> $</pre>
  </dd>
</dl>
<script>
    $(function(){
        $(".show_member_link").addClass('active');
    })
</script>