
if(<%= @models.any? %>){
	$('#car_model_id').html("<%= escape_javascript(options_for_select(@models)) %>");
    $('#car_model_id').show('slow');
    $('#label_car_model_id').show('slow');
}
else{
	$('#car_model_id').html("<%= escape_javascript(options_for_select([nil,nil])) %>");
    $('#car_model_id').hide('slow');
    $('#label_car_model_id').hide('slow');

}
