<tr>
  <td ><%= link_to image_tag(model.avatar_url, width: 60,height: 60),model if model.avatar? %></td>
  <td><%=   model.model_name %></td>
  <td><%=  link_to model.make.name, admin_make_path(model.make) %></td>
  <td class = "last links"><%= link_to image_tag("icon/glyphicons_039_notes.png"), admin_model_path(model) %>
  <%= link_to image_tag("icon/glyphicons_150_edit.png"), edit_admin_model_path(model) %>
  <%= link_to image_tag("icon/glyphicons_207_remove_2.png"), admin_model_path(model), method: :delete,
                  data: { confirm: "You sure?" } %></td>
</tr>