<% content_for :second_title do%>
      Edit Model <%= @model.model_name %>
<%end%>

<%= render 'shared/navigate',object: @model %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin,@model]) do |f| %>

        <%= f.label :make_id %>
        <%= collection_select(:model, :make_id, Make.all, :id, :name) %>

        <%= f.label :model_name %>
        <%= f.text_field :model_name %>

        <label>Picture</label>
        <%= image_tag(@model.avatar.url, width: 95, height: 95) if @model.avatar? %>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <br>
        <div class= "form-actions">
        <%= f.submit "Save",name: "_save" ,class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>

<script>
    $(function(){

        $(".edit_member_link").addClass('active');
    })
</script>