<div class="right_add">
  <%= link_to image_tag("icon/glyphicons_432_plus.png")+"Add model",new_admin_model_path,class: :btn%>
</div>
<br>
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Make</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
     <%= render @models %>
  </tbody>
</table>