

<div class="row">
  <div class="span6 offset3">
    <%= form_for([:admin,@model]) do |f| %>

        <%= f.label :model_name %>
        <%= f.text_field :model_name %>


        <%= f.label :make_id %>
        <%= collection_select(:model, :make_id, Make.all, :id, :name) %>

        <label>Picture</label>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
        <br>
        <%= f.submit "Create model", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>

