<% content_for :second_title do%>
      Details for Model <%= @model.model_name %>
<%end%>
<%= render 'shared/navigate', object: @model %>
<h4>
  Basic info
</h4>
<div class = "picture">
  <%= image_tag(@model.avatar_url, width: 400,height: 400) if @model.avatar? %>
</div>
<dl>
  <dt class="label name_field string_type">Name</dt>
  <dd>
    <pre class="prettyprint"><%= @model.model_name %></pre>
  </dd>
  <dt class="label name_field string_type">Make</dt>
  <dd>
    <pre class="prettyprint"><%= link_to @model.make.name, admin_make_path(@model.make) %></pre>
  </dd>
  <dt class="label name_field string_type">Cars</dt>
  <dd>
    <pre class="prettyprint">
      <% @model.cars.each do |car|%>
        <%= link_to car.features, admin_car_path(car)%>//поправить
      <% end %>
    </pre>
  </dd>

</dl>
<script>
    $(function(){

        $(".show_member_link").addClass('active');
    })
</script>