
  <div id = "nav_list_makes">
   <ul id = "nav" class="nav nav-tabs">
   </ul>
  </div>
  <div class="clear_both"></div>

  <div id = "breadcrumb">
    <ul>
      <li><a href="#">home</a></li>
      <li id = 'make' class = 'list'></li>
      <li id = 'model' class = 'list'></li>
      <li id = 'car' class = 'list'></li>
    </ul>
  </div>
  <div class="clear_both"></div>

          <div id = "body_back_end">
            <div id = 'nav_list_models'>
              <ul id ='list_models'>
              </ul>
            </div>
            <div id="content_body"></div>
          </div>
          <div id="error"></div>


  <div class="clear_both"></div>


  <script id="entry-template" type="text/x-handlebars-template">

    <div class="slider">
      {{#each avatar_url}}
      <input type="radio" name="slide_switch" id="id{{@index}}"checked="checked"/>
      <label for="id{{@index}}">
        <img src="{{this}}" width="100"/>
      </label>
      <img src="{{this}}"/>
      {{/each}}
    </div>


  </script>

  <% if !signed_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>