<ul class="nav nav-tabs">

  <li title="" rel="" class="icon show_member_link">
    <%= link_to "Show", "/admin/#{object.class.to_s.downcase}s/#{object.id}" %>

  </li>

  <li title="" rel="" class="icon edit_member_link ">
    <%= link_to "Edit", "/admin/#{object.class.to_s.downcase}s/#{object.id}/edit"%>
  </li>

  <li title="" rel="" class="icon delete_member_link ">
    
  </li>
</ul>