/* mixins, variables, etc. */
$grayLight : dimgrey;
$gray      : darckgary;
$grayDarker: darckgary;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
aside {
   section {
     padding: 10px 0;
     border-top: 1px solid $grayLight;
     &:first-child {
       border: 0;
       padding-top: 0;
     }
     span {
       display: block;
       margin-bottom: 3px;
       line-height: 1;
     }
     h1 {
       font-size: 1.4em;
       text-align: left;
       letter-spacing: -1px;
       margin-bottom: 3px;
       margin-top: 0px;
     }
   }
 }

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
} /* users index */

.table_padding{
  tr{
    padding: 10px 0px;
    outline: 0 1px 5px #000000;
    td{
      padding-left: 10px;
    }
  }
}

.green{
  box-shadow: 0px 1px 15px #000000;
  overflow: hidden;
  background: #ffffff;
  border-radius: 5px;
}

.right_add{
  float:right;
}
.left_search{
  float:left;
  width: 650px;
}

.myconfig{
  padding: 0;
  margin: 0;
  list-style: none;

  li{
    position: relative;
    border-right: solid 1px #000000;
    color: red;
    float: left;
    &:hover{
      box-shadow: 0 1px 10px blue;
    };
    a{
      text-decoration: none;
      padding-left: 10px;
      display: block;
      width: 80px;
      line-height: 40px;
      color: #808080;
      &:hover{
        color: #ffffff;
      }
    }
    span{
      position: absolute;
      top:9px;
      right: 5px;
      background: blue;
      border-radius: 3px;
      color: #ffffff;
      padding: 0 3px;
    }
  };
}
.search{
  width: 300px;
  float:left;
  input{
    width: 70px;
  }
}
.filter{
  width: 350px;
  float:left;
  select{
    width: 150px;

  }
}
.correct{
  margin-bottom: 11px;

}
.grey_background{
  background: #c4e3f3;
    transition: all 0.5s ease;
    &:hover{
      background: rgba(200,20,41,0.1);
  }
}
#show_modal{
  span{
    margin-left: 5px;
    background: #777777;
    border-radius: 3px;
    color: #ffffff;
    padding: 0 3px;
  }
}
.cor{
  margin-top: 5px;
  height: 20px;
  .search{
    width: 150px;
  }
}

.cor .btn{
  width: 70px;
}


.picture{
  float: right;
  display: block;

}
.prettyprint{
  width: 500px;

}