#body_back_end{
  margin: 10px auto;
  border-radius: 10px;
  overflow:hidden;
  background: rgba(0,10,100,0.1);
}
#content_body{
  padding-left: 50px;
}


#nav_list_models{
  margin-top: 20px;
  padding-right: 20px;
  position: relative;

}
#list_models{
  list-style: none;
  li{
    margin-bottom: 5px;
    background: rgba(0,0,255,0.5);
    width: 200px;
  }
  a{
    padding-left: 5px;
    line-height: 45px;
    color: #000000;
    display: block;
    text-decoration: none;
  }
  a:hover{
    background: rgba(0,0,255,0.8);
  }
}

.clear_both{
  clear: both;
}
#breadcrumb{
  border: solid 1px red;
  overflow:hidden;
  ul{
    list-style: none;
    li{
      a{
        float: left;
        padding: 0 7px;
        line-height: 45px;
        display: block;
        text-decoration: none;
      }
    }
  }

}
.cbm_wrap {
  display: block;
  min-height: 310px !important;
  width:300px;
  margin:  25px;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  position: relative;
  background-color:#fff;
  text-align: center;
  float : left;
}
.cbm_wrap img {
  width: 100%;
  margin-top: 15px;
  margin-botom: 15px;
}
.cbm_wrap p{
  margin-top: 15px !important;
  text-align: justify !important;
}
.cbm_wrap h1{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.cbm_wrap a{
  text-decoration: none;
  color: #4A4A4A !important;
}
.cbm_wrap a{
  display: block;
}
.cbm_wrap a:hover{
  text-decoration: underline;
  color: #6B6B6B !important ;
}

#error{
  background: rgba(255,0,0,0.5);
  position: fixed;
  top: 50px;
  right: 50px; 
  padding: 50px;
  font-size: 200%;
  display: none;
  border-radius: 3px;
  width: 500px;
}

