.blockMake{
  float: left;
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 4px green;
  margin: 20px;
}
#collection-Make{
  padding-left: 50px;
  width: 1000px;
  margin: 50px auto;
  overflow: hidden;
}



