<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <% if signed_in? %>
          <ul class="pull-left myconfig">
            <li> <%= link_to "Cars", admin_cars_path %> <span><%= Car.count %></span></li>
            <li>  <%= link_to "Models", admin_models_path %>  <span><%= Model.count %></span></li>
            <li>  <%= link_to "Makes", admin_makes_path %>  <span><%= Make.count %></span></li>
         </ul>

      <% end %>

      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>