<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  </head>
<body>
<%= render 'layouts/header' %>

    <div class="container">

      <div class="page-header">
        <h3><%= yield :second_title %></h3>
      </div>

          <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
   </div>
</body>
</html>



